.Upload {
  /* border: 1px solid black; */
  width: 100%;
}
.Selection {
  width: 100%;
  padding-bottom: 24px;
}
.eby-inpt-spce{
  margin-left: 20px;
}
.eby-header-style {
  background-color: #6e7f8d;
    color: white;
    font-size: 0.7rem;
}
.eby-row-color-light {
  background-color: #FFF;
}
.eby-row-color-dark {
  
  background-color: #eff2f9;
}
