.Navigation {
  background-color: brown;
  grid-row: 1/1;
}
.Main {
  /* background-color:#222; */
  grid-row: 2/8;
}
.Footer {
  /* background-color: black; */
  grid-row: 7/10;
}
.wrapper {
  height: 100vh;
}
.a-ref-element {
  color: #ff6347;
  text-decoration: underline;
  cursor: pointer;
}
.eby-component-flex {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
}
.eby-sm-flex {
  display: flex;
}
.eby-flx-spc-btw{
  justify-content: space-between;
}
.flx-container-wrp{
  display: flex;
  flex-wrap: wrap;
}
/* UPLOAD */
.sheet-block{
  display: block;
    max-height: 400px;
    overflow: auto;
    width: 90%;
    margin: 0 auto;
}
/* PROFILE */
.Profile {
  position: relative;
}
.eby-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 300px;
}
.eby-list {
  width: 20%;
  border: 1px solid white;
  position: relative;
  min-height: 89px;
  padding: 10px;
  padding-bottom: 50px;
}
.title-md{
  font-size: 1rem;
}
.eby-sheet-1 {
  width: 40px;
}
.eby-sheet-sm {
  width: 9%;
}
.eby-sheet-lg {
  width: 24%;
}
.eby-bttm-abs {
  bottom: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.width-flex-md{
  width: 150px;
  font-size: 0.8rem;
}
.width-flex-sm{
  width: 70px;
}
.br-bttm{
  border:1px solid white;
  padding: 10px;
}
.skus-main{
  border: 1px solid rgb(185, 185, 185);
  border-radius: 4px;
  padding: 10px;
  width: 300px;
  margin-top: 6px;
  background-color: rgb(8 86 111);
  cursor: pointer;
}
.skus-main:hover{
  background-color: #6f0861;
}
.ul-list{
  padding-left: 13px;
}
.x-remove{
  border: 1px solid white;
  padding: 0 3px;
  cursor: pointer;
}
.x-remove:hover{
  background-color: red;
}
.name-update{
  width: 242px;
  border: 1px solid;
}