/* colors*/
.eby-inner-shdw {
  box-shadow: inset 0 0 10px #fafbff;
}

.Main {
  /* background-color:#222; */
  grid-row: 2/8;
  padding: 30px;
}
.wrapper-md {
  margin: 50px;
}
.sin-botton {
  background: none;
  height: 100%;
}
.wrapper {
  height: 100vh;
}
.hght-nly {
  height: 60px;
  margin-top: 30px;
}
.a-ref-element {
  color: #ff6347;
  text-decoration: underline;
  cursor: pointer;
}
.eby-component-flex {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
}
.eby-sm-flex {
  display: flex;
  align-items: center;
}
.eby-flx-spc-btw {
  justify-content: space-between;
}
.flx-container-wrp {
  display: flex;
  flex-wrap: wrap;
  max-height: 83vh;
  overflow-x: hidden;
}
/* UPLOAD */
.sheet-block {
  display: block;
  max-height: 205px;
  overflow: auto;
  padding: 20px 0;
}
/* PROFILE */
.Profile {
  position: relative;
  /* background-color: #050306; */
}
.eby-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 2500px;
  flex-wrap: wrap;
}
.eby-list {
  width: 18.9%;
  position: relative;
  min-height: 111px;
  padding: 16px 20px 41px;
  margin: 10px;
  border-radius: 16px;
background: #e8e8e8;
box-shadow:  5px 5px 10px #c5c5c5,
             -5px -5px 10px #ffffff;
}
.title-md {
  font-size: 0.75rem;
}
.eby-sheet-1 {
  width: 40px;
  padding-left: 6px;
}
.eby-sheet-sm {
  width: 9%;
}
.eby-sheet-lg {
  width: 24%;
}
.eby-bttm-abs {
  bottom: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.width-flex-md {
  width: 150px;
  font-size: 0.8rem;
}
.width-flex-sm {
  width: 70px;
}
.br-bttm {
  padding: 10px;
  margin: 3px;
  border-radius: 5px;
}
.skus-main {
  border-bottom: 1px solid rgb(98 98 98);
  border-radius: 4px;
  padding: 10px;
  width: 94%;
  margin-top: 6px;
  cursor: pointer;
}
.skus-main:hover {
  background-color: #6f0861;
  color:white;
}
.ul-list {
  padding-left: 13px;
}
.x-remove {
  /* border: 1px solid white; */
  padding: 0 3px;
  cursor: pointer;
}
.x-remove:hover {
  color: #FFF;
}
.name-update {
  width: 242px;
  /* border: 1px solid; */
}
/* filter */
.input-filter {
  margin: 17px 0px;
}
.input-filter input {
  width: 100%;
  height: 31px;
  border-radius: 4px;
  background: #e8e8e8;
  box-shadow: inset 5px 5px 10px #c5c5c5, inset -5px -5px 10px #ffffff;
  border: none;
}
